---
import { Image } from "astro:assets";
import { getEntry } from "astro:content";
import Footer from "../../components/Footer.astro";
import RotaryDial from "../../components/RotaryDial.astro";
import MainLayout from "../../layouts/main.astro";
import { getRelativeLocaleUrl } from "astro:i18n";

const locale = Astro.currentLocale as "en" | "nl";
const page = await getEntry("home", locale);

const links = page.data.links.map((link) => {
    if (link.projectRef) {
        return getRelativeLocaleUrl(
            locale,
            `/${link.projectRef.collection}/${link.projectRef.slug.split("/")[1]}`,
        );
    }
    if (link.slug) {
        return getRelativeLocaleUrl(locale, link.slug);
    }
    if (link.url) {
        return link.url;
    }

    return "#";
});
---

<MainLayout seo={page.data.seo}>
    <main>
        <div class="dial-wrapper">
            <RotaryDial slugs={links}>
                {
                    page.data.links.map((l, i) => (
                        <li
                            role="listitem"
                            style={l.hue ? `--color-hue: ${l.hue}` : ""}
                        >
                            {l.image && (
                                <a
                                    href={links[i]}
                                    title={`Link to ${l.title}`}
                                    rel={
                                        !links[i].startsWith("/")
                                            ? "nofollow me"
                                            : undefined
                                    }
                                >
                                    <Image
                                        src={l.image.url}
                                        alt={l.image.alt}
                                        width={1024}
                                        height={1152}
                                        widths={[512]}
                                    />
                                </a>
                            )}
                        </li>
                    ))
                }
            </RotaryDial>
        </div>

        <Footer />
    </main>
</MainLayout>

<style>
    @import "../../styles/media.css";

    main {
        min-height: 100vh;
        margin-inline: auto;
        padding-inline: var(--size-1);
        padding-block: var(--size-3);

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: var(--size-8);

        > :global(*) {
            width: 100%;
            max-inline-size: var(--size-lg);
        }

        .dial-wrapper {
            flex: 1;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }

    @media (--md-n-above) {
        main {
            padding: var(--size-3);
        }
    }
</style>
