---
import { useSanityClient } from "astro-sanity";
import i18next, { changeLanguage } from "i18next";

import { projectsQuery } from "../../../lib/queries";
import type { Project, Seo } from "../../../lib/types";
import BlockManager from "../../components/BlockManager.astro";
import Image from "../../components/Image.astro";
import ProjectsLayout from "../../layouts/project.astro";

changeLanguage("en");

export interface Props {
    project: Project;
}
const { project } = Astro.props;

const projectColor = project.colour
    ? `--colors-${project.colour}-900`
    : undefined;

const seo: Seo = {
    metaTitle: project.title,
    metaDescription: project.description,
    shareImage: project.mainImage,
    isArticle: true,
};

export async function getStaticPaths() {
    const projects: Project[] = await useSanityClient().fetch(projectsQuery, {
        locale: i18next.language,
    });
    return projects.map((p) => ({
        params: { slug: p.slug },
        props: { project: p },
    }));
}
---

<ProjectsLayout colour={project.colour} seo={seo}>
    <header>
        <h1>{project.title}</h1>
        <div class="intro" role="presentation">
            <div role="none">
                <h3 class="description">
                    {project.description}
                </h3>

                <div role="none">
                    <span>
                        {
                            new Intl.DateTimeFormat(i18next.language, {
                                month: "long",
                                year: "numeric",
                            }).format(new Date(project.publishedAt))
                        }
                    </span>

                    {
                        project.company && (
                            <>
                                <span>-</span>
                                {project.company.url ? (
                                    <a href={project.company.url}>
                                        {project.company.title}
                                    </a>
                                ) : (
                                    <span>{project.company.title}</span>
                                )}
                            </>
                        )
                    }

                    {
                        project.categories && (
                            <>
                                <span>-</span>
                                {project.categories
                                    .map((c) => c.title)
                                    .join(", ")}
                            </>
                        )
                    }
                </div>
            </div>

            <p>{project.excerpt}</p>
        </div>
    </header>

    <div role="banner">
        <Image
            alt={`Main image of ${project.mainImage}`}
            src={project.mainImage}
            width={1024}
            height={683}
            fillContainer
        />
    </div>

    <BlockManager value={project.content} />
</ProjectsLayout>

<style lang="scss">
    header {
        display: flex;
        flex-direction: column;
        gap: var(--spaces-1);

        h1 {
            margin: 0;
            font-size: 2rem;
        }

        .intro {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: var(--spaces-3);

            > div {
                display: flex;
                flex-direction: column;
                gap: var(--spaces-1);

                h3.description {
                    margin: 0;
                    font-size: 1.5rem;
                }

                > div {
                    display: flex;
                    flex-direction: row;
                    gap: var(--spaces-1);
                }
            }
        }
    }

    div[role="banner"] {
        width: 100%;
        height: auto;
        border-radius: var(--radii-sm);
        aspect-ratio: 3 / 2;
        overflow: hidden;
        background-color: rgb(var(--projectColor));
    }

    @media only screen and (width <= 640px) {
        header .intro {
            display: flex;
            flex-direction: column;
            gap: var(--spaces-3);
        }
    }
</style>
