---
import { localizePath } from "astro-i18next";
import { useSanityClient } from "astro-sanity";
import i18next, { changeLanguage } from "i18next";
import { homeQuery } from "../../lib/queries";
import type { Home } from "../../lib/types";
import Footer from "../components/Footer.astro";
import SanityImage from "../components/Image.astro";
import RotaryDial from "../components/RotaryDial.svelte";
import MainLayout from "../layouts/main.astro";

changeLanguage("en");

const homepage: Home = await useSanityClient().fetch(homeQuery, {
    locale: i18next.language,
});
const links = homepage.links.map((el) => {
    if (el.slug) {
        return localizePath(`/${el.slug}`);
    } else if (el.url) {
        return el.url;
    } else {
        return "#";
    }
});
---

<MainLayout seo={homepage.seo}>
    <main>
        <div class="dial-wrapper">
            <RotaryDial elementSlugs={links} client:only>
                {
                    homepage.links.map((el, i) => (
                        // <li class:active={i % 10 === num}>
                        <li
                            role="listitem"
                            style={
                                el.colour
                                    ? `--background: var(--gradient-${el.colour})`
                                    : "--background: var(--theme-surface-2)"
                            }
                        >
                            {el.image && (
                                <a
                                    href={links[i]}
                                    title={`Link to my ${el.title}`}
                                    rel={
                                        !links[i].startsWith("/")
                                            ? "nofollow me"
                                            : undefined
                                    }
                                >
                                    <SanityImage
                                        alt={`Main image of ${el.title}`}
                                        src={el.image}
                                        width={512}
                                        height={576}
                                    />
                                </a>
                            )}
                        </li>
                    ))
                }
            </RotaryDial>
        </div>

        <Footer />
    </main>
</MainLayout>

<style lang="scss">
    @import "open-props/media";

    main {
        height: 100vh;
        margin-inline: auto;
        padding-inline: var(--size-2);

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: var(--size-8);

        > :global(*) {
            width: 100%;
            max-width: 1024px;
        }

        .dial-wrapper {
            flex: 1;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }

    @media (--md-n-above) {
        main {
            padding-inline: var(--size-3);
        }
    }
</style>
