---
import { useSanityClient } from "astro-sanity";
import i18next, { changeLanguage, t } from "i18next";
import { homeQuery, projectListQuery } from "../../lib/queries";
import type { Home, Project } from "../../lib/types";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import MainHead from "../components/MainHead.astro";
import ProjectGrid from "../components/ProjectGrid.astro";
import Intro from "../components/Intro.astro";
import CallToAction from "../components/CallToAction.astro";

changeLanguage("en");

const projects: Project[] = await useSanityClient().fetch(projectListQuery, {
    locale: i18next.language,
});
const homepage: Home = await useSanityClient().fetch(homeQuery, {
    locale: i18next.language,
});
---

<html lang={i18next.language}>
    <head>
        <MainHead seo={homepage.seo} />

        <body>
            <Header />

            <main>
                <section>
                    <Intro homepage={homepage} />
                </section>

                <section>
                    <ProjectGrid projects={projects} />
                </section>

                <section>
                    <CallToAction homepage={homepage} />
                </section>
            </main>

            <Footer />
        </body>
    </head>
</html>
