---
import { localizePath } from "astro-i18next";
import { useSanityClient } from "astro-sanity";
import i18next, { changeLanguage } from "i18next";
import { homeQuery, projectListQuery } from "../../lib/queries";
import type { Home, Project } from "../../lib/types";
import Footer from "../components/Footer.astro";
import Image from "../components/Image.astro";
import Nav from "../components/Nav.astro";
import RotaryDial from "../components/RotaryDial.svelte";
import MainLayout from "../layouts/main.astro";

changeLanguage("en");

const projects: Project[] = await useSanityClient().fetch(projectListQuery, {
    locale: i18next.language,
});
const homepage: Home = await useSanityClient().fetch(homeQuery, {
    locale: i18next.language,
});
type DialElement = {
    index: number;
    data?: {
        slug: string;
        title: string;
        image: string;
    };
};
const elements: DialElement[] = [
    {
        index: 1,
        data: projects.length
            ? {
                slug: localizePath(`project/${projects[0].slug}`),
                title: projects[0].title,
                image: projects[0].mainImage,
            }
            : undefined,
    },
    {
        index: 2,
        data: projects.length
            ? {
                slug: localizePath(`project/${projects[1].slug}`),
                title: projects[1].title,
                image: projects[1].mainImage,
            }
            : undefined,
    },
    {
        index: 3,
        data: projects.length
            ? {
                slug: localizePath(`project/${projects[2].slug}`),
                title: projects[2].title,
                image: projects[2].mainImage,
            }
            : undefined,
    },
    { index: 4 },
    { index: 5 },
    { index: 6 },
    { index: 7 },
    { index: 8 },
    { index: 9 },
    { index: 0 },
];
---

<MainLayout seo={homepage.seo}>
    <Nav />

    <main>
        <div class="dial-wrapper">
            <RotaryDial
                elementSlugs={elements.map((el) => el.data?.slug)}
                client:only
            >
                {
                    elements.map((el) => (
                        // <li class:active={i % 10 === num}>
                        <li role="listitem">
                            {el.data && (
                                <a
                                    href={localizePath(
                                        `/project/${el.data.slug}`
                                    )}
                                >
                                    <Image
                                        alt={`Main image of ${el.data.title}`}
                                        src={el.data.image}
                                        width={512}
                                        height={512}
                                        fillContainer
                                    />
                                </a>
                            )}
                        </li>
                    ))
                }
            </RotaryDial>
        </div>

        <Footer />
    </main>
</MainLayout>

<style lang="scss">
    @import "open-props/media";

    main {
        height: 100vh;
        margin-inline: auto;
        padding-inline: var(--spaces-1);

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: var(--spaces-6);

        > :global(*) {
            width: 100%;
            max-width: 1024px;
        }

        .dial-wrapper {
            flex: 1;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }

    @media (--md-n-above) {
        main {
            padding-inline: var(--spaces-2);
        }
    }
</style>
