---
import { Icon } from "astro-icon";
import type { Resume, SocialLink } from "../../lib/types";

interface Props {
    links: (SocialLink | Resume)[];
}
const { links } = Astro.props;
---

<ul role="list">
    {
        links.map((l) =>
            l._type == "social-link" ? (
                <li role="listitem">
                    <a
                        class="button"
                        title={l.title}
                        rel="nofollow me"
                        href={l.url}
                        target="_blank"
                    >
                        <Icon name={l.icon} aria-hidden />
                    </a>
                </li>
            ) : (
                <li role="listitem">
                    <a
                        class="button"
                        title={l.title}
                        rel="nofollow me"
                        href={l.fileUrl}
                        target="_blank"
                    >
                        <Icon name="ph:file-text-fill" aria-hidden />
                    </a>
                </li>
            )
        )
    }
</ul>

<style lang="scss">
    @import "open-props/media";

    ul {
        margin: 0;
        padding: 0;
        list-style: none;

        display: flex;
        align-items: center;
        gap: var(--size-2);

        font-weight: var(--font-weight-7);

        li {
            padding: 0;
            margin: 0;

            a {
                &:not(:hover) {
                    border: 1px solid transparent;
                }

                > :global(svg) {
                    width: var(--font-size-4);
                    height: var(--font-size-4);
                }
            }
        }
    }

    @media (--lg-n-below) {
        ul {
            gap: 0;
        }
    }
</style>
